// Esquema de colores
$white: #fff;
$platinum: #797D8A;
$gclaro: #ccc;
$oscuro: #001514;

$rosa: #EF6461;
$menta: #92DCE5;


//Tipografias
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

//Peso de fuentes
$regular: 400;
$medium: 500;
$bold: 700;

//Tamanos de fuentes
$xx-large: 35px;
$x-large: 25px;
$large: 18px;
$medium: 16px;
$small: 12px;
